body {
    transform: translate();
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px 20px;
    color: white;
    background-color: rgb(251, 0, 255);
}